* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "MesloLGS NF" ;
    font-size: 24px;
    min-height: 0;
}

window#waybar {
    /*background-color: rgba(43, 48, 59, 0.8);*/
    background-color: rgba(0xff, 0xff, 0xff, 0.1);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.firefox {
    background-color: #000000;
    border: none;
}

#workspaces {
  padding-right: 8px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.persistent{
    color : #3f3f3f;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
   
}

#battery {
    color: rgb(0xff, 0xff, 0x8f);
    padding: 0 12px; 
    box-shadow: inset 0 -3px #ffff8f;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: rgb(0xff, 0x8f, 0xff); 
    padding: 0 12px;
    box-shadow: inset 0 -3px #ff8fff;
   
}

#memory {
    
    color: rgb(0xff, 0xaf, 0xaf); 
    padding: 0 12px;
    box-shadow: inset 0 -3px #ffafaf;
   
}

#network {
    
   
    color: rgb(0xaf, 0xaf, 0xff); 
    padding: 0 12px;
    box-shadow: inset 0 -3px #afafff;
}

#network.disconnected {
    
   
}

#pulseaudio {
    
   
    color: rgb(0x8f, 0xff, 0xff); 
    padding: 0 12px;
    box-shadow: inset 0 -3px #8fffff;
}

#pulseaudio.muted {
    
   
}

#bluetooth { 
   
    color: rgb(0xaf, 0xff, 0xaf); 
    padding: 0 12px;
    margin-right: 4px;
    box-shadow: inset 0 -3px #afffaf;
}

#temperature {
    
   
    padding: 0 12px;
}

#temperature.critical {
    
   
}

#tray {
    background-color: #64727D;
    padding: 0 12px;
}

#custom-thunderbird{
    color: rgb(0xff, 0xff, 0x8f); 
    font-size: 24px;
    padding: 0 14 0 6;
    margin: 0 4px;
    box-shadow: inset 0 -3px #ffff8f;
}
#custom-firefox{
    color: rgb(0xff, 0xaf, 0xaf); 
    font-size: 24px;
    padding: 0 14 0 6;
    margin: 0 4px;
    box-shadow: inset 0 -3px #ffafaf;
}
#custom-nemo{
    color: rgb(0xaf, 0xaf, 0xff); 
    font-size: 24px;
    padding: 0 14 0 6;
    margin: 0 4px;
    box-shadow: inset 0 -3px #afafff;
}
#custom-terminal{
    font-size: 24px;
    margin: 0 12px;
}
#custom-spotify{
    font-size: 40px;
    margin: 0 12px;
}
#custom-discord{
    color: rgb(0x8f, 0xff, 0xff); 
    font-size: 24px;
    padding: 0 6 0 10;
    margin: 0 4px;
    box-shadow: inset 0 -3px #8fffff;
}
#custom-telegram{
  
    color: rgb(0xaf, 0xff, 0xaf); 
    font-size: 24px;
    margin: 0 4px;
    padding: 0 12px;
    box-shadow: inset 0 -3px #afffaf;
}
#custom-signal{
    font-size: 28px;
    margin: 0 12px;
}
